# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Virtual environment
venv/
.env/

# IDE and Editor files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
