*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
:root {
  --fs-text: 1rem;
  --fs-h1: 2.5rem;
  --White: hsl(0, 0%, 100%);
  --pink: hsl(281, 83%, 54%);
  --Light-pink: hsl(275, 100%, 97%);
  --Dark-purple: hsl(292, 42%, 14%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --font-family: "Work Sans", sans-serif;
}
body {
  line-height: 1.6;
  margin-top: 7rem;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  font-size: var(--fs-text);
  text-rendering: optimizeSpeed;
  font-family: var(--font-family);
  background-color: var(--Light-pink);
  background: url(../images/background-pattern-mobile.svg) no-repeat top center/contain;
}

.main-container {
  padding: 1rem;
  width: 90%;
  max-width: 700px;
  margin-top: 10vh;
  margin-inline: auto;
  border-radius: 10px;
  max-height: min-content;
  background-color: var(--White);
}
@media (min-width: 600px) {
    body {
      background: url(../images/background-pattern-desktop.svg) no-repeat top center/contain;
    }
    .main-container {
      padding: 2rem;
    }
  }
  @media (min-width: 1440px) {
    .main-container {
      margin-top: 30vh;
    }
}
